body {
  background-color: #2e4057;
  color: white;
}

#header-title {
  font-size: 50px;
  text-align: center;
}

footer {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px 20px;
  color: black;
  font-weight: bolder;
  text-shadow: none;
}

#controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-block {
  border: 1px solid black;
  width: auto;
  height: auto;
}
