* {
  background-color: rgb(75, 97, 77);
  color: white;
}

#header-title {
  font-size: 50px;
  text-align: center;
  padding: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px 20px;
  color: black;
  font-weight: bolder;
  text-shadow: none;
}

#controls-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 25px;
}

#grid-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 3px solid lavender;
  border-radius: 10px;
  width: 800px;
  height: 800px;
}

.grid-block {
  display: flex;
  width: 50px;
  height: 50px;
  padding: 0px;
  margin: 0px;
}

.blue {
  background-color: black;
}
