#header-title {
  font-size: 50px;
  text-align: center;
  padding: 20px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

#controls-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 50px;
  margin-right: 100px;
  border: 2px solid grey;
}

#grid-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 800px;
}

.grid-block {
  display: flex;
  width: 50px;
  height: 50px;
  padding: 0px;
  margin: 0px;
}

.blue {
  background-color: black;
}
